{% extends 'base.html' %}

{% block content %}

    <div class="section">
        <!-- <div class="container">
            <div class="row">
                {% for product in c1 %}
                    <div class="col-lg-4">
                    </div>
                {% endfor %}
            </div>
        </div> -->
         <div style="margin-bottom: 100px;" class="container">
            <div class="row">
                <div class="col-lg-4 product-item">
                    <p class="text-center">
                        Продукт
                    </p>
                </div>
                <div class="col-lg-4 product-item">
                    <p class="text-center">
                        Продукт
                    </p>
                </div>
                <div class="col-lg-4 product-item">
                    <p class="text-center">
                        Продукт
                    </p>
                </div>
            </div>   
         </div>
    </div>
{% endblock %}